*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100;
    background: linear-gradient(to top, rgba(0,0,0,0.1)50%, rgba(0,0,0,0.1)50%), url(Sunrise.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 130px;
    float: left;
    height: 70px;
}

ul{
    padding-left: 470px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 23px;
    margin-top: 40px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 800px;
    padding-left: 20px;
    padding-top: 50px;
    height: auto;
    margin: auto;
    color: #fff;
    position: absolute;
}

.content span{
    color: #ff7200;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: Helvetica;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 14%;
    letter-spacing: 2px;
}

.content .cn{
    width: 220px;
    height: 70px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s ease;
}

.content .tagline span{
    padding-left: 20px;
    padding-top: 110px;
    margin-left: 200px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 45px;
    float: center;
    text-align: center;
    color: rgb(249, 61, 61);
    font-weight: bold;
    font-style: italic;
}

.cn:hover{
    background-color: #fff;
}

.form{
    position: absolute;
    top: 120px;
    left: 700px;
    padding-right: 150px;
}

.form image{
    border-radius: 25px;
    width: 50px;
    height: 35px;
    position: relative;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}

.icons a{
    text-decoration: none;
    padding-left: 100px;
    color: #fff;
}

.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 19px;
    padding-right: 8px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover{
    color: #ff7200;
}